<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%highlight(%-5level)] %cyan(%d{HH:mm:ss.SSS}) [%thread] %green(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 降低 HikariCP、Netty 噪声 -->
    <logger name="caliban" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN" />
    <logger name="io.netty" level="WARN" />
    <logger name="org.postgresql" level="WARN" />
    <logger name="io.getquill" level="WARN"/>
    <logger name="io.lettuce.core" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>